/* 去除网页原来边距 */
body {
  margin: 0px;
  font-size: 0px;
}

.center {
  display: grid;
  /*网格布局*/
  place-items: center;
  /*水平及垂直居中的简写*/
}

@media screen and (min-width:481px) {

  .background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url(../image/背景素材1.jpg);
  }

  /*桌面浏览器所显示的网页CSS*/
  /* 导航栏容器样式 */
  .navigationContainer {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    min-height: 7vh;
    width: 100vw;
  }

  .navigationContainer button:nth-child(1) {
    width: 10vw;
    min-height: 5vh;
    font-size: 1.2rem;
    margin-left: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: rgb(224, 49, 49);
    border-color: #fdf200;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }

  .navigationContainer button:nth-child(1):hover {
    background-color: rgb(255, 248, 230);
    border-color: #b0b0b0;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    transform: scale(1.1);
  }

  .navigationContainer button:nth-child(2) {
    width: auto;
    min-height: 5vh;
    float: right;
    font-size: 1.2rem;
    margin-right: 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: rgb(224, 49, 49);
    border-color: #fdf200;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }

  .navigationContainer button:nth-child(2):hover {
    background-color: rgb(202, 244, 255);
    border-color: #b0b0b0;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    transform: scale(1.2);
  }

  /* 头部容器样式 */
  .headContainer {
    display: inline-block;
    height: auto;
    width: 100vw;
  }

  .headContainer img {
    width: 100%;
    height: auto;
  }

  /* 检索表容器样式 */
  .indexContainer {
    display: block;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    width: 100vw;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 0vh;
    padding-bottom: 5vh;
    /* 内边距 */
  }

  .indexContainer>div {
    background-color: #d6050cc3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  /* 左侧大容器 */
  .leftContainer {
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 223, 182, 0);
    height: 100vh;
    width: 52vw;
    margin-left: 9vw;
  }

  /* 小图片盒子 */
  .imgBox {
    display: inline-block;
    box-sizing: border-box;
    background-size: 20vw 26vh;
    width: 20vw;
    height: 26vh;
    margin-left: 3.1vw;
    margin-right: 2.6vw;
    margin-top: 8vh;
    margin-bottom: 2vh;
    transition: 0.3s;
  }

  .imgBox:hover {
    transition: 0.3s;
    transform: scale(1.15);
  }

  /* 左侧轮播图盒子 */
  .leftCarouselImgBox {
    background-color: rgb(197, 228, 255);
    /* 16:9 */
    width: 52vw;
    height: 29.25vw;
  }

  /* 右侧大容器 */
  .rightContainer {
    display: block;
    float: right;
    background-color: rgba(255, 223, 182, 0.196);
    height: 100vh;
    width: 27vw;
    margin-left: 5vw;
    margin-right: 5vw;
    backdrop-filter: blur(5px);
  }

  /* 宫格布局 */
  .indexGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0vw;
    justify-content: center;
  }

  .indexGrid>div {
    font-size: 1.5rem;
    transition: 0.4s;
    color: white;
  }

  .indexGrid>div:hover {
    text-decoration: underline;
    transition: 0.2s;
    transform: scale(1.2);
  }
}



@media screen and (max-width:480px) {

  /*手机端浏览器所显示的网页CSS*/
  .navigationContainer {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 6vh;
    /* vh = view height */
    /* 视高 */
    width: 100vw;
    /* vw = view width */
    /* 视宽 */
  }

  .navigationContainer button:nth-child(1) {
    width: auto;
    min-height: 4vh;
    font-size: 0.6rem;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .navigationContainer button:nth-child(2) {
    width: auto;
    min-height: 4vh;
    font-size: 0.6rem;
    margin-left: 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .navigationContainer button:nth-child(3) {
    width: auto;
    min-height: 4vh;
    float: right;
    font-size: 0.6rem;
    margin-right: 3vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  /* 头部容器样式 */
  .headContainer {
    display: inline-block;
    background-color: red;
    height: auto;
    width: 100vw;
  }

  .headContainer img {
    max-width: 100%;
    height: auto;
  }

  /* 检索表容器样式 */
  .indexContainer {
    display: block;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100vw;
    padding-left: 0vw;
    padding-right: 0vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    /* 内边距 */
  }

  /* 左侧大容器 */
  .leftContainer {
    display: inline-block;
    background-color: rgb(255, 223, 182);
    height: 100vh;
    width: 100vw;
    margin-left: 0vw;
  }

  /* 左侧轮播图盒子 */
  .leftCarouselImgBox {
    /* 16:9 */
    width: 100vw;
    height: 56.25vw;
  }

  /* 右侧大容器 */
  .rightContainer {
    display: inline-block;
    background-color: rgb(255, 204, 137);
    height: 100vh;
    width: 100vw;
    margin-left: 0vw;
    margin-right: 0vw;
  }

  .indexContainer>div {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  /* 宫格布局 */
  .indexGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0vw;
    justify-content: center;
  }

  .indexGrid>div {
    font-size: 0.8rem;
  }

  .indexGrid>div:hover {
    text-decoration: underline;
    color: rgb(255, 67, 67);
  }
}