* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial;
  background-color: #ffffff;
  padding-top: 18vh;
}

.background-image {
  width: 96vw;
  height: 80vh;
  position: absolute;
  z-index: -3;
  background: url(../image/背景素材.jpg);
  background-size: 96vw 80vh;
}

.gaussianBlur {
  backdrop-filter: blur(3px);
  z-index: -1;
  width: 96vw;
  height: 80vh;
  position: fixed;
  background-size: 100vw 80vh;
}

.login {
  margin: 20px auto;
  width: 300px;
}

.login-screen {
  background-color: rgba(218, 218, 218, 0.758);
  border: 1.5px solid;
  padding: 20px;
  border-radius: 8px;
}

.app-title {
  text-align: center;
  color: rgb(83, 83, 83);
}

.login-form {
  text-align: center;
}

.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}